


.src-styles-Profile-Profile-modules__photo_user___LQ6ff {
  border-radius: 50%;
}

@charset "UTF-8";
.src-styles-Balance-Balance-modules__wrapper___Lk6R4 {
  display: flex;
  flex-direction: column;
}
.src-styles-Balance-Balance-modules__wrapper___Lk6R4 .src-styles-Balance-Balance-modules__subtitle___O5Kz8 {
  color: rgb(112, 117, 121);
}
.src-styles-Balance-Balance-modules__wrapper___Lk6R4 .src-styles-Balance-Balance-modules__balance___doWkH {
  font-size: 7vw;
  color: rgb(49, 209, 88);
}
.src-styles-Balance-Balance-modules__wrapper___Lk6R4 .src-styles-Balance-Balance-modules__balance___doWkH:after {
  content: " ₽";
  font-size: 5.5vw;
  color: rgb(112, 117, 121);
}

.node_modules-react-tabs-style-react-tabs__react-tabs___zuPvo {
  -webkit-tap-highlight-color: transparent;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab-list___y2MoW {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab___ToSg8 {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab--selected___rZLxc {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab--disabled___ZC8dI {
  color: GrayText;
  cursor: default;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab___ToSg8:focus {
  outline: none;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab___ToSg8:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab-panel____eaCO {
  display: none;
}

.node_modules-react-tabs-style-react-tabs__react-tabs__tab-panel--selected___d9iBA {
  display: block;
}

.src-styles-UI-Tab__tab_list___VjkC4 {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: space-between;
  align-items: start;
}
.src-styles-UI-Tab__tab_list___VjkC4 li {
  list-style: none;
  text-decoration: none;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.src-styles-UI-Tab__tab_list___VjkC4 li:active {
  opacity: 50%;
}

* {
  margin: 0;
  padding: 0;
}

.src-styles-App-App-module__container___BaNeO {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

