


.src-styles-Profile-Profile-modules__photo_user___LQ6ff {
  border-radius: 50%;
}

.src-styles-Header-Header-modules__headerBlock___egPgs {
  width: 100%;
  height: 90px;
  background-color: #9e9ea4;
}



* {
  margin: 0;
  padding: 0;
}

.src-styles-App-App-module__container___BaNeO {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  max-height: 1366px;
  background-color: rgb(250, 250, 250);
}

.src-styles-Web-Web-modules__wrapper___HM0xB {
  color: blue;
  background: red;
}

